@import url('https://fonts.googleapis.com/css?family=Inconsolata|Oswald:200,300,400,500,600,700');
$body-font: "Oswald", sans-serif;
$code-font: 'Inconsolata', monospace;

$blue: #29ABE2;
$dark-blue: #186C90;
$white: #FFFFFF;
$dark-gray: #333333;
$medium-gray:#999999;
$light-gray: #e8e8e8;
$red:#BC091E;
$green: #288b00;